<template>
  <main class="flex flex-col">
    <CategoryList :categories="categories" :focus="categoryId" />
    <ProductList :products="products" />
  </main>
</template>

<script>
import CategoryList from "../../components/CategoryList.vue";
import ProductList from "../../components/ProductList.vue";
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  props: ["categoryId"],
  components: {
    CategoryList,
    ProductList,
  },
  data() {
    return {
      datacateg: 0,
    };
  },
  computed: mapState({
    products: (state) => state.products,
    productsAlias: "products",
    categories: (state) => state.categories,
    categoriesAlias: "categories",
  }),
  methods: {
    ...mapActions(["getProdCat", "fetchCategories"]),
  },
  created() {
    console.log("created...");
    this.getProdCat(this.categoryId);
    this.fetchCategories();
  },
  mounted() {
    console.log("mounted...");

    this.getProdCat(this.categoryId);
  },
  updated() {
    if (this.datacateg != this.categoryId) {
      console.log("updated...");
      this.getProdCat(this.categoryId);
      this.datacateg = this.categoryId;
    }
  },
};
</script>
