<template>
  <main class="flex flex-col">
    <CategoryList :categories="categories" />
    <ProductList :products="products" />
  </main>
</template>

<script>
import CategoryList from "../components/CategoryList.vue";
import ProductList from "../components/ProductList.vue";
import { mapActions, mapState } from "vuex";

export default {
  components: {
    CategoryList,
    ProductList,
  },
  methods: {
    ...mapActions(["fetchProducts", "fetchCategories"]),
  },
  computed: mapState(["categories", "products"]),
  created() {
    console.log("created...");

    this.fetchProducts();
    this.fetchCategories();
  },
};
</script>
