<template>
  <div class="bloc-modale" v-if="revele">
    <div class="overlay" v-on:click="toggleModale"></div>

    <div class="modale card">
      <button v-on:click="toggleModale" class="btn-modale btn btn-danger">
        X
      </button>
      <img class="img_modal" v-bind:src="srcImages" />
    </div>
  </div>
</template>


<script>
export default {
  name: "Modale",
  props: ["revele", "toggleModale", "srcImages"],
};
</script>


<style scoped>
.bloc-modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgb(51, 51, 51, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modale {
  background: #f1f1f1;
  color: #333;
  padding: 30px;
  position: fixed;
  max-width: 1600px;
}

.btn-modale {
  position: absolute;
  top: 10px;
  right: 10px;
}
.img_modal {
  position: relative;
  padding: auto;
  margin: auto;
  max-width: 1600px;
  max-height: 695px;
}
</style>