<template>
  <div
    class="flex flex-wrap content-around h-auto justify-center items-stretch mx-5"
  >
    <div v-if="products.length == 0" class="text-center">
      Aucun produit disponible dans cette catégorie actuellement
    </div>
    <div
      v-else
      v-for="product in products"
      :key="product.id"
      class="flex flex-col items-stretch flex-wrap"
    >
      <router-link :to="'/products/' + product.id" class="flex flex-1">
        <div
          class="flex flex-col w-64 m-4 p-6 bg-white rounded-lg shadow-xl transform duration-500 hover:scale-110"
        >
          <div class="flex justify-center flex-1 items-center">
            <img
              v-if="product.images[0]"
              class="w-auto"
              :src="'https://vapara.mithril.re' + product.images[0]"
            />
            <img v-else class="h-40" src="../assets/no_image.svg" />
          </div>
          <div class="mx-3 pt-1">
            <p class="text-base text-gray-600 leading-normal text-center">
              {{ product.title }}
            </p>
          </div>
          <div class="flex justify-center mt-3">
            <!--| toJune-->
            <p class="text-white bg-red-900 py-2 px-5 rounded-md font-bold">
              {{ product.price + ",00" + " Ǧ1" }}
            </p>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ["products"],
};
</script>