<template>
  <div class="flex flex-col min-h-screen">
    <header class="flex flex-col justify-center bg-gray-900 items-center mb-5">
      <router-link to="/"
        ><h1 class="text-5xl text-white mt-4 font-bold text-center">
          La Boutik Ǧ1
        </h1></router-link
      >
      <a
        href="https://mithril.re"
        class="text-white flex flex-row font-bold text-3xl"
      >
        <p>de</p>
        <img class="h-10 mb-4 ml-2" src="~/assets/mithril.png" />
      </a>
    </header>
    <body>
      <router-view />
    </body>
    <footer class="flex justify-center bg-gray-900 items-center mt-5">
      <router-link to="/mentions">
        <h5 class="text-white my-8">Mentions légales</h5>
      </router-link>
    </footer>
  </div>
</template>

<script>
export default {};
</script>
